rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Временно разрешаем все операции для отладки
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
} 