body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

.container {
    max-width: 600px;
    margin: 10px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, button {
    padding: 5px;
    font-size: 16px;
}

button {
    margin-top: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px;
}

button:hover {
    background: green;
}

.hidden {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 19px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Добавляем вертикальную прокрутку для основной таблицы */
#table-container {
    margin-top: 10px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 5px;
}

button.delete {
    background-color: red;
}

button.delete:hover {
    background-color: #cc0000;
}

button.edit {
    background-color: orange;
}

button.edit:hover {
    background-color: darkorange;
}